<h1><%= @restaurant.name %></h1>
<h2>Address: <%= @restaurant.address %></h2>
<h3>Phone number: <%= @restaurant.phone_number %></h3>
<h4>Category: <%= @restaurant.category %></h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %> - <%= "â­" * review.rating %></li>
  <% end %>
</ul>

<%= link_to "Back to restaurants", restaurants_path %>
